body, ul, ol{margin: 0; padding: 0;}
body{
  overflow-x: hidden;
}
.navbar-header{display: none;}
header{
  padding: 10px 0 0 0;
      border-bottom: 1px solid #e4e4e4;
}
.top-link{ text-align: right; margin-top: 10px; }
.top-link li{ 
    display: inline-block;
    list-style: none;
    border-right: 1px solid #000;
    padding-right: 10px;
    margin-right: 10px;
    line-height: 12px; 
  }
  .top-link li:last-child{
    border-right: 0;
    margin-right: 0;
    padding-right: 0;
  }
.top-link li a, .bot-text a, footer .row.top-warp ul li a{
  transition: all 0.3s;
 } 
.top-link li a{ color: #000; font-size: 13px; text-decoration:none; }
.top-link li a:hover{
  color: #5dbfcc
}
.bot-text{ text-align: right;  margin-top: 10px; }
.bot-text span{
    font-size: 12px;
    margin-right: 2.5vw;
}
.bot-text a{ color: #000; font-size: 15px; text-decoration:none; }
.bot-text a:hover{
  color: #5dbfcc
}
.navbar-collapse{
  padding-left: 0;
  padding-right: 0;
}
header .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
}
header .navbar-form{
  margin-top: 0;
  margin-bottom: 0;
}
header .navbar {
    position: relative;
    margin-bottom: 0px;
    margin-top: 10px;
    }
header .navbar-form .btn-default {
    border-color: #000;
    border-radius: 0;
    border-left: 0;
}
header .navbar-form .input-group > .form-control {
    border-radius: 0;
    border: 1px solid #000;
}
header .nav > li > a:hover, header .nav > li > a:focus {
   background-color: #61bec6;
    color: #fff;
}  
header .nav .open > a, header .nav .open > a:hover, header .nav .open > a:focus {
    background-color: #61bec6;
    
} 
.slider-warp .glyphicon {
    position: relative;
    top: 43%;
    font-size: 40px!important;
}
.product-warp{
  margin: 45px auto;
}
.product-warp ul{
  text-align: center;
}
.product-warp li{
  display: inline-block;
  list-style: none;
  margin-right: 25px;
  margin-top: 10px;
  width: 31.5%;
}
.product-warp li:nth-child(3n){
  margin-right: 0;
}
.product-warp li h3{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 5px 0 0 0 ;
    text-transform: uppercase;
}
section#demos{ margin-top: 35px; }
section#demos h2{
  color: #000;
  text-align: center;
  margin-bottom: 25px;
}
.top-head{
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
}
.circle-warp{
  text-align: center;
  margin-bottom:75px;
      margin-top: 25px;
}
.circle-warp ul li{
  display: inline-block; margin: 2px;
}
.product-warp li a{
  color: #000;
  text-decoration: none;
}
.product-warp li a:hover{
  color: #5dbfcc;
}
.product-warp li figure img{
  transition: all 0.6s;
}
.product-warp li figure{
  overflow: hidden;
}
.product-warp li figure:hover img{
  transform: scale(1.4);
}
footer{
  background: #f1f1f1;
  padding: 15px 0;
  margin-top: 55px;
}
footer .row.top-warp h4 {
    color: #000;
    margin: 10px 0 15px 0;
    font-size: 16px;
    font-weight: bold;
}
footer .row.top-warp .col-sm-6:last-child h4{ 
  text-transform: uppercase;
}
footer .row.top-warp ul li{
  list-style: none; 
  margin: 5px 0;
}
footer .row.top-warp ul li a{
  color: #000; 
  text-decoration: none;
}
footer .row.top-warp ul li a:hover{
  color: #5dbfcc;
}

footer .row.bottom-warp ul li{
  list-style: none; 
  margin-top: 15px;
  display: inline-block;
  margin-right: 10px;
  line-height: 10px;
  border-right: 1px solid #000;
  padding-right: 10px;
}
footer .row.bottom-warp ul li:last-child{
  border-right: 0;
}
footer .row.bottom-warp ul li a{
  color: #000; 
  text-decoration: none;
}
footer .row.bottom-warp ul li a:hover{
  color: #5dbfcc;
}
footer .row.bottom-warp .col-sm-6:last-child li{
    border-right: 0;
    padding-right: 0;
    margin-right: 10px;
    font-size: 24px;
    border-radius: 50%;
    background: #7f7b7c;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-top: 0;

}
footer .row.bottom-warp .col-sm-6:last-child li:hover{
  background: #5dbfcc; 
} 
footer .row.bottom-warp .col-sm-6:last-child li a{
  color: #fff; 
}
footer form .form-control{
    border: 0;
    padding: 22px;
    margin-bottom: 15px;
}
footer form  button.btn-block {
    display: block;
    width: 100%;
    background: #8a0204;
    color: #fff;
    height: 44px;
}
footer form  button.btn-block:hover{
  background: #5dbfcc; 
  color: #fff;
}
.right-side-bar ul li {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    border-bottom: 1px solid #e2e2e2; position:relative;
}
.right-side-bar ul li:last-child{border: 0;}
.right-side-bar ul li:after{    position: absolute;
    top: 0;
    left: 0;
    content: '\f105';
    font-family: 'FontAwesome';
}
.right-side-bar ul li a{color:#666; padding:5px 0 5px 0; text-decoration: none; }
.right-side-bar ul li a:hover{color:#60bec6;}
.main-warp {
    padding-right:0px;
}
.main-warp .box {
    border: #e8e8e8 1px solid;
    padding: 5px;
        float: left;
            border-radius: 2px;
}
.main-warp{ margin-top: 25px; }
.main-warp .left-col ul li{
	    display: inline-block;
    width: 23.7%;
    margin-right: 10px;
    margin-bottom: 10px;
    
}
.flexslider ul.slides li{
  position: relative;
}
.main-warp .left-col ul li:nth-child(4n){
	margin-right: 0px
}
.main-warp .box h3{
    margin: 10px 0;
    font-size: 22px;
}
.flex-nav-next{
  margin-bottom: 0
}
.main-warp .box .bootm span{ width: 50%; float: left; }
.main-warp .box .bootm span:first-child{
	    padding-top: 7px;
    color: #60bec6;
    font-weight: bold;
    font-size: 16px;
}
.main-warp .box .bootm span button{
	    color: #fff;
    background: #60bec6;
    border: 0;
    border-radius: 3px;
    float: right;
    padding: 5px;
    font-size: 15px;
    transition: all 0.8s;
}
.main-warp .box .bootm span button:hover{

	background: #000; 
}
.right-side-bar h2{
    color: #60bec6;
    margin: 0 0 15px 0;
    text-transform: uppercase;
}
	.breadcrum-warp{
	    background: #f1f1f1;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
    width: 100%;
		}
	 .breadcrum-warp ul{  
  overflow: hidden;
  width: 100%;
}

.breadcrum-warp ul li{
  float: left;
}

.breadcrum-warp ul a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f1f1f1, #ddd);  
}

.breadcrum-warp ul li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

.breadcrum-warp ul a:hover{
  background: #fff;
}

.breadcrum-warp ul a::after,
.breadcrum-warp ul a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

.breadcrum-warp ul a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

.breadcrum-warp ul a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

.breadcrum-warp ul a:hover::after{
  border-left-color: #fff;
}

.breadcrum-warp ul .current,
.breadcrum-warp ul .current:hover{
  font-weight: bold;
  background: none;
}

.breadcrum-warp ul .current::after,
.breadcrum-warp ul .current::before{
  content: normal;  
}
.cart-warp{
    margin: 35px 0;
    border: 1px solid #60bec6;
}
.cart-warp .img-box{
	float: left;
    margin: 0 15px 0 0;
}
.cart-warp .text-box{
	margin-bottom: 15px;	
}
.cart-warp .icon-box a{
	color: #60bec6;
    font-size: 20px;
    margin: 10px 10px 0 0;	
}
.cart-warp .icon-box a:hover{
	color: #666;
}

.cart-warp .table > tbody > tr > td {
    padding: 20px;
    border-top: 0;
    font-size: 16px;
}
.cart-warp .table > thead > tr > th {
    border-bottom: 1px solid #60bec6;
    font-size: 16px; 
    text-transform: uppercase;
    padding: 20px;
}
.cart-warp .quantity{
	border: 1px solid #60bec6;
    padding: 3px 10px;
}
.bot-sec .price-total{
	font-size: 16px;
    font-weight: bold;
    text-align: right;
}
.btn-theme{
	background: #60bec6;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.6s;
}
.btn-theme:hover{
	background: #666;
	color:#fff;
}
.track-order {
    width: 80%;
    margin: 35px auto;
        text-align: center;
}
.track-order h2{
	text-align: center;
}
.track-order .track-progress-warp{
	position: relative;
	margin:45px 0;
}
.track-order .track-progress-warp .line{
	width: 100%;
	height:10px;
	background: #f6ae38;
	position: relative;
}
.track-order .track-progress-warp .line .box{
	width: 45px;
    height: 45px;
    background: #f6ae38;
    position: absolute;
    top: -18px;
    left: 0px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 45px;
}
.track-order .track-progress-warp .line .box:nth-child(2){
	left: 33%;
}
.track-order .track-progress-warp .line .box:nth-child(3){
	left: 65%;
}
.track-order .track-progress-warp .line .box:last-child{
	left: auto;
	right: 0;
}
.track-order .track-progress-warp h4{
   color: #666;
    font-size: 14px;
    position: absolute;
    bottom: -35px;
    width: 120px;
    left: 0;
    text-align: left;
}
.table-track{
	    display: inline-block;
    margin: 35px auto;
    text-align: left;
}
.table-track td, .table-track th{
	padding: 10px;
}
.table-track th{
	background: #f4f4f4;
    font-size: 20px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.checkout{
	float: left;
	width: 100%;
	margin: 55px 0;
}
.checkout .panel-default {
    border-color: #60bec6;
    box-shadow: none;
}
.checkout .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}
.checkout  .panel-default > .panel-heading {
    background-color: transparent;
    border-color: #60bec6;
}
.checkout .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #60bec6;
}
.checkout .panel-heading .accordion-toggle:after {
    color: #60bec6;
}
.checkout .panel-title > a{
	text-decoration: none;
}
.marg-t-b{
	margin: 30px 0;
}
.class-ancor-theme{
	 color: #60bec6
}
.checkout .form-control {
    background-color: #fff;
    box-shadow: none;
    height: 40px;
    border-radius: 0;
    }
.checkout select.form-control{
	    background: transparent;
} 
.checkout .form-group label span{
	color:red;
}   
.ypass {
    font-size: 18px;
    padding-top: 15px;
}
.checkout .form-check-label {
    margin-right: 15px;
    padding-top: 6px;
}
.total-heading{
	font-size: 20px;
}
.total-price{
	font-size: 20px;
	color: #60bec6;
}
.checkout table td{
	    border: 1px solid #ddd;
}
.checkout .table > thead > tr > th{
	border: 1px solid #ddd;
	border-top: 1px solid #ddd !important;
	font-size: 16px;
}
.details-product .left-col .description{
  margin: 25px 0;
}
.details-product{
  margin: 25px 0;
}
.details-product .right-col h2 {
    margin: 0;
    color: #303030;
    font-size: 20px;
}
.details-product .right-col .rating {
    margin: 20px 0;
    color: #b8b8b8;
    font-size: 12px;
}
.details-product .right-col h3{
  margin-top: 0px;

}
.details-product .right-col .price{
    color: #242424;
    font-size: 16px;
}
.details-product .right-col .price span{
  color: #fa6b6b;
  margin-left: 10px;
}
.details-product .right-col .quantity {
    margin: 25px 0;
}
.details-product .right-col .quantity{

}
.details-product .right-col .quantity input[type="number"]{
    display: inline-block;
    width: 45px;
    height: 30px;
    border: 1px solid #60bec6;
    margin-left: 10px;
    text-align: center;
}
.details-product .right-col #exTab2{
    margin: 35px 0;
}
.details-product .right-col .nav-tabs {
    border-bottom: 1px solid #60bec6;
}
.details-product .right-col .nav-tabs > li.active > a, .details-product .right-col .nav-tabs > li.active > a:hover, .details-product .right-col .nav-tabs > li.active > a:focus {
    color: #60bec6;
    cursor: default;
    border: 1px solid #60bec6;
    border-radius: 0;
}
.details-product .right-col .nav-tabs > li.active > a{
  border-bottom-color: transparent;
}
.nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius:0;
    color: #60bec6;
}
.details-product .right-col .tab-content{
  padding: 20px 15px;
} 
.details-product .right-col .tab-content ul{
  margin: 25px 0;
}
.details-product .right-col .tab-content ul li{
  display: block;
  list-style: none;
}
.details-product .left-col .description h2 {
    font-size: 20px;
    border-bottom: 1px solid #60bec6;
    padding-bottom: 15px;
}
.main-warp .left-col ul li h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background: rgba(0,0,0, 0.5);
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 200;
    margin: 0;
}
.left-col-n .nav-tabs > li > a{
  border-radius: 0px;

}
.left-col-n .nav-tabs > li.active > a, .left-col-n .nav-tabs > li.active > a:hover, .left-col-n .nav-tabs > li.active > a:focus{
    background: #60bec6;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #60bec6;
}
.left-col-n .tab-content {
    background: #efefef;
    padding: 5%;
    border: 1px solid #c7c7c7;
}
.left-col-n  .nav-tabs > li {
  position: relative;
    margin-bottom: 20px;
}
.left-col-n  .nav-tabs > li.active:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #efefef transparent;
    content: '';
    position: absolute;
    bottom: -21px;
    left: 30%;
}
.left-col-n .nav-tabs{
  border-bottom: 0;
}
.right-col-n{
  border:1px solid #e6e6e6;
      padding: 20px 0;
          margin-top: 17%;
}
.right-col-n .whight-box, .right-col-n .gray-box{
  padding: 15px
}
.right-col-n .gray-box{
    background: #efefef;
    border-top: 1px solid #e6e6e6;
}
.right-col-n  table td{
  border:0;
}
.right-col-n  .whight-box table td{
  padding: 0 !important;
}
.right-col-n  .whight-box table td p{
  font-size: 12px;
  margin-bottom: 2px;
}
.right-col-n .table > tbody > tr > td{
  border-top: 0;
}
.right-col-n  .box{
  width: 45px; float: left;

}

.right-col-n .quantity {
    border: 1px solid #60bec6;
    padding: 3px 10px;
}
#create-account{
  display: none;
}
.left-col-n .tab-pane .class-ancor-theme{
  cursor: pointer;
}

/*------------------------Start Tab css--------------------*/

@media (min-width:768px) and (max-width:1199px){
  .owl-theme .owl-nav [class*=owl-]{left: -20px}
.owl-theme .owl-nav [class*=owl-next] {right: -20px;  left: initial;  }
.product-warp li {
    margin-right: 15px;
    margin-top: 5px;
    width: 30.5%;
}
.product-warp li:nth-child(3n) {
    margin-right: auto;
}
.product-warp li h3 {
    margin: 5px 0 0 0;
    height: 40px;
    overflow: hidden;
}
.circle-warp ul li {
    width: 64px;
}
.navbar-nav {
    text-align: center;
    width: 100%;
}
header .nav > li > a {
    padding: 10px 9px;
    font-size: 14px;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}
.bot-text {
    margin-top: 10px;
}
header .navbar-form {
    position: absolute;
    right: 0;
    top: -53px;
}
.right-side-bar h2 {
    font-size: 22px;
}
.right-side-bar ul li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
}
.right-side-bar ul li a {
    font-size: 12px;
}
.main-warp .box h3 {
    font-size: 18px;
}
.main-warp .box .bootm span:first-child{
	font-size: 14px;
  }
  .main-warp .box .bootm span button{
  	font-size: 12px;
  }
  .main-warp .left-col ul li {
    width: 31%;
    margin-right: 5px;
    margin-bottom: 5px;
}
.main-warp .left-col ul li:nth-child(4n) {
    margin-right: 5px;
}
}
@media (min-width:1023px){
  .owl-theme .owl-nav [class*=owl-]{left: -40px}
.owl-theme .owl-nav [class*=owl-next] {right: -40px;  left: initial;  }
}
/* start media code for mobile */
@media (min-width:768px){
  .navbar-nav > li.dropdown:hover  .dropdown-menu {
  display: block;
  }
}
@media (max-width:767px){
  .logo-res, .navbar-header{display: block;}
  .logo{display: none;}
  footer .row.bottom-warp ul li {
    margin-right: 5px;
    padding-right: 5px;
    font-size: 12px;
}
.product-warp li {
    width: 285px;
    margin: 5px;
}
.product-warp li h3 {
    font-size: 16px;
    }
    .top-link {
    margin-top: 0;
    text-align: center;
}
.top-link li a {
    font-size: 12px;
    }
    .top-link li {
    padding-right: 5px;
    margin-right: 5px;
}
.bot-text {
    text-align: center;
    margin-top: 10px;
}
.bot-text span {
    margin-right: 0;
    display: block;
}
.navbar-toggle {
    border: 1px solid #61bec6;
    }
    .navbar-toggle .icon-bar {
    background: #61bec6;
    }
 .logo-res{
    top: -10px;
    position: absolute;
    width: 200px;
    padding: 0 15px;
}
.navbar-nav {
    margin: 5px 0px;
}
header .nav > li > a {
    padding: 5px 15px;
    font-size: 14px;
    border-bottom: 1px solid #e4e4e4;
}
header .navbar {
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
}
section#demos h2 {
    margin-bottom: 15px;
    font-size: 24px;
}
section#demos {
    margin-top: 0px;
}
.owl-theme .owl-nav [class*=owl-]{left: 5px}
.owl-theme .owl-nav [class*=owl-next] {right: 5px;  left: initial;  }
.circle-warp ul li {
    width: 64px;
}
.main-warp .left-col ul{
	text-align: center;
}
.main-warp .left-col ul li {
    width: 220px;
    margin: 5px;
}
.breadcrum-warp{display: none;}
}
.no-taxes{
      margin-top: 5px;
    color: #5dc0c2;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;

}
.billing-address{display: none;}
.size-warp{
    font-size: 11px;
    color: #b8b8b8;
    margin-top: 5px;
    font-weight: 200;
}
.product-sidewarp{
    position: fixed;
    right: -250px;
    top: 0;
    width: 245px;
    background: #f1f1f1;
    height: 100%;
    z-index: 9;
    transition: all 0.5s;
}
.product-sidewarp.open{
  right: 0px;
}
.bgbg{
  opacity: 0;
  transition: all 0.5s;


}
.bgbg.open{
  position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    display: block;
    z-index: 9;
    right: 0px;
    opacity: 1;
    transition: all 0.5s;
}
.product-sidewarp .header{
      background: #393939;
    float: left;
    width: 100%;
    color: #fff;
}
.product-sidewarp .header span{
    float: left;
    padding: 10px 15px;
    border-right: 1px solid #ccc;
}
.product-sidewarp .header a{
    float: right;
    padding: 10px 12px;
    color: #fff;
    text-decoration: none;
}
.product-sidewarp .main-wp{
  padding: 15px;
    float: left;
    width: 100%;
    text-align: center;
}
.product-sidewarp .main-wp .box{
      padding: 5px;
      background: #fff;
      border: 1px solid #e6e6e6;
      margin: 15px 0;
          float: left;
    width: 100%;
}
.product-sidewarp .main-wp p{
  font-size: 12px;
}
.product-sidewarp .main-wp .box h2{
      font-size: 20px;
      margin: 5px 0;
}
.product-sidewarp .main-wp .box .img-box{
    width: 80px;
    float: left;
}
.product-sidewarp .main-wp .box .box-wpsmall p{
  margin-bottom: 0;
}
.product-sidewarp .main-wp .box .box-wpsmall .btn.btn-theme {
    padding: 5px 10px;
    font-size: 10px;
}
.product-sidewarp .main-wp .box .box-wpsmall{
    padding: 10px 0;
    border-top: 1px solid #e2e2e2;
    float: left;
    width: 100%;
  }